body {
    margin: 0;
    padding: 0;
    background-color: #3a04fd;
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    height: 100vh;
    display: flex;
}

.menu-lateral {
    width: 250px;
    background-color: #00fd3f;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 80px 40px;
    box-sizing: border-box;
    height: 100vh;
}

.menu-lateral ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-lateral li {
    margin: 40px 0;
    font-size: 25px;
    cursor: pointer;
    transition: color 0.2s;
}

.menu-lateral li:hover {
    color: #dddde2;
}

a {
    color: #f1f1f1;
    text-decoration: none;
    transition: color 0.2s;
}

a:hover {
    color: #1225a0;
    text-decoration: underline;
}

.conteudo {
    flex: 1;
    padding: 40px 60px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.topo {
    background-color: #88beff;
    border-radius: 8px;
    padding: 16px 0;
    width: 56%;
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
    box-shadow: 0px 3px 8px rgba(0,0,0,0.3);
}

.area-central {
    display: flex;
    gap: 65px;
    align-items: flex-start;
}

.caixa-chamados {
    background-color: #6584d2;
    border-radius: 30px;
    width: 650px;
    height: 600px;
    padding: 25px 35px;
    box-sizing: border-box;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.666);
}

.caixa-chamados h2 {
    margin-top: 0;
    font-size: 25px;
    border-bottom: 1px solid #6c90c4;
    padding-bottom: 10px;
}


.caixa-chamados li {
    padding: 5px 10px;
    border-radius: 15px;
    transition: background-color 0.25s, transform 0.1s;
    cursor: pointer;
}

.caixa-chamados li:hover {
    background-color: rgba(36, 56, 165, 0.688);
    transform: translateX(10px);
}

.status {
    display: inline-block;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    margin-right: 8px;
}




