@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #2b132b;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo img {
    width: 160px;
    margin-bottom: 40px;
}

.login-box {
    background-color: #4a344a;
    padding: 60px 80px;
    border-radius: 35px;
    text-align: center;
    width: 500px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.titulo {
    font-family: 'Monoton', cursive;
    font-size: 80px;
    color: #f0f0f0;
    text-align: center;
    letter-spacing: 2px;
    margin: 20px 0;
}

label {
    display: block;
    text-align: left;
    font-weight: bold;
    font-style: italic;
    color: #fff;
    margin: 10px 0 5px 10px;
}

input {
    width: 100%;
    padding: 12px 20px;
    border: none;
    border-radius: 25px;
    background-color: #b4a8b4;
    outline: none;
    font-size: 1rem;
}

.btn-entrar {
    background-color: #5a215a;
    color: white;
    border: none;
    border-radius: 25px;
    padding: 12px 40px;
    cursor: pointer;
    margin-top: 25px;
    font-size: 1rem;
    transition: 0.3s;
}

.btn-entrar:hover {
    background-color: #752a75;
}

/* ==============================
   LINK "CADASTRE-SE"
   ============================== */
.cadastro {
    margin-top: 25px;
}

.cadastro a {
    color: #ffffff;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
    font-size: 1rem;
}

.cadastro a:hover {
    color: #d3d3d3;
}

.botao-cadastro {
    display: inline-block;
    margin-top: 15px;
    color: #fff;
    text-decoration: none;
    background-color: #5a215a;
    padding: 10px 20px;
    border-radius: 15px;
    font-size: 14px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.botao-cadastro:hover {
    background-color: #8a2c7b;
}